:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;

  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: var(--dark-magenta);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
h4 {
  color: var(--dark-grayish-magenta);
}

.card {
  background-color: var(--dark-magenta);
  color: var(--White);
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  width: 300px;
}

.card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-top: 2rem;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews {
  background-color: var(--light-grayish-magenta);
  color: var(--dark-magenta);
  font-weight: var(--fw-bold);
  width: 250px;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.report,
.bestTech {
  background-color: var(--light-grayish-magenta);
  color: var(--dark-magenta);
  font-weight: var(--fw-bold);
  border-radius: 10px;
  padding: 0.5rem;
  width: 250px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  justify-content: center;
}

.star-icon {
  color: var(--soft-pink);
  width: 12px;
  height: 12px;
  margin: auto;
}

.colton,
.irene,
.anne {
  border-radius: 50%;
  width: 30px;
}

.name {
  font-weight: var(--fw-bold);
  color: var(--White);
  margin: 0;
  padding: 0;
}

.Verified {
  color: var(--soft-pink);
  margin: 0;
  padding: 0;
}
